<div *ngIf="datos" class="service-container">
    <mat-card class="service-card mat-elevation-z4">
        <div class="service-details-container">
            <mat-card-header>
                <mat-card-title class="service-title">{{ datos?.nombre }}</mat-card-title>
                <mat-card-subtitle>
                    <span class="service-brand">{{ datos.email }}</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="service-description">
                    <h3>Teléfono:</h3>
                    <p>{{ datos.telefono }}</p>
                </div>
                <div class="service-usage">
                    <h3>Fecha de nacimiento:</h3>
                    <p>{{ datos.fechaNacimiento | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="service-usage">
                    <h3>Rol:</h3>
                    <p>{{ datos.role}}</p>
                </div>
                <div class="service-category" *ngIf="datos.sucursal.nombre">
                    <h3>Sucursal:</h3>
                    <mat-chip-listbox aria-label="Tiempo Servicio">
                        <mat-chip-option color="accent" selected>
                            {{ datos.sucursal.nombre }}
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <div class="action-buttons">
                    <button mat-raised-button (click)="regresar()">Regresar</button>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>