/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    min-height: 100vh;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* body {
    min-height: 100dvh;
} */

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}